*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #282c34;
  text-decoration: none;
}

/*slide bar*/
.slide
{
  top:0;
  left: 0;
  height: 300px;
  min-height:200px;
}
.slide_image {
  width: 100%;
  height: 300px;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  object-fit: cover;
}


/*navigator*/
.nav
{
  width: 100%;
  height: 50px;
  display: flex;
  position: absolute;
  justify-content: space-between;
  background: linear-gradient(180deg, rgb(18, 19, 21) 0%, rgba(55, 55, 55, 0) 100%);
}
.nav .NAME
{
  width: 200px;
  height: 50px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  line-height: 50px;
  padding: 0 10px;
}
.nav .menu
{
  width: 100%;
  height: 50px;
  display: flex;
  list-style: none;
  background-color:transparent;
}
#menu {
  position: relative;
  width: 150px;
  height: 50px;
  color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  border-right: 2px solid rgba(255, 183, 0, 0.499);
  background-color: transparent;
  text-align: center;
  line-height: 50px;
  z-index: 1;
}

#menu:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  font-size: large;
  background-color: rgb(255, 183, 0);
  transition: all 0.3s ease;
}

#menu:hover {
  cursor: pointer;
  color: #000;
}

#menu:hover:after {
  right: 0;
  width: 100%;
}

#menu:active {
  top: 2px;
}

#menu span
{
  background-color: transparent;
}
#bardevice
{
  display: none;
}
.search
{
  display: flex;
  margin: 0 20px 0 10px;
  align-items: center;
  background-color: transparent;
}
.search .input_search
{
  width: 200px;
  height: 25px;
  border-radius: 40px;
  padding-left: 5px;
  font-size: 14px;
  line-height: 25px;
  background-color: #ffffff;
  border: solid 2px rgb(255, 183, 0);
}
.search .btn_search
{
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin-left: 5px;
  border: none;
  color:#ffffff;
  line-height: 25px;
}
.search .btn_search i
{
  background-color: transparent;
}
.search .btn_search:hover
{
  cursor: pointer;
  background-color: rgb(255, 183, 0);
}
/*list film*/
.list_film
{
  display: none;
  position: absolute;
  width: 450px;
  list-style: none;
}
.list_film #listfilm
{
  width: 150px;
  float: left;
  background-color: #282c34;
  color: rgb(255, 183, 0);
  font-size: large;
  text-align: center;
}
.list_film #listfilm:hover
{
  background-color: #494e58;
}
.types:hover .list_film{
  display: block;
  opacity: 1;
}

/*block*/
.App .main-content
{
  width: 100%;
  height: max-content;
  margin-bottom: 20px;
  overflow: hidden;
}
.block
{
  width: 100vw;
  height: max-content;
  margin-top: 20px;
  padding: 0 100px;
}
.heading
{
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
}
.heading .caption
{
  font-size: large;
  color: rgb(255, 183, 0);
  font-size: 30px;
}
.heading .see-more
{
  color: #ffffff;
  font-size: 20px;
  margin-left: 20px;
}
.block .list_phim_content
{
  width: 100%;
  height: max-content;
  display: flex;
  justify-content:center;
  margin-top: 10px;
  list-style: none;
  flex-wrap: wrap;
}
.block .list_phim_content .itemsmall {
  width: 300px;
  height: 150px;
  float: left;
  position: relative;
  margin: 0 10px 10px 0;
  overflow: hidden;
  text-align: center;
}

.block .list_phim_content .itemsmall img {
  width: 300px;
  height: 150px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.block .list_phim_content .itemsmall i,
.block .list_phim_content .itemsmall img {
  transition: transform 0.3s ease-in-out;
}

.block .list_phim_content .itemsmall:hover i,
.block .list_phim_content .itemsmall:hover img {
  opacity: 1;
  transform: scale(1.1);
}

.block .list_phim_content .itemsmall p {
  width: 100%;
  height: 30px;
  text-align: left;
  color: #ffffff;
  font-size: 18px;
  line-height: 30px;
  padding-left: 10px;
  background-color: #42495692;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

.block .list_phim_content .itemsmall i {
  width: 50px;
  height: 50px;
  color: #ffc800;
  position: absolute;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  border-radius: 100%;
  background-color: rgba(60, 65, 74, 0.634);
  opacity: 0;
  transform: scale(1.3);
  z-index: 1;
}

.block .list_phim_content .itemsmall a {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*footer*/
.Footer
{
  width: 100%;
  height: max-content;
  background-color: #1d1f23;
  position: relative;
}
.Footer .namefooter
{
  width: 100%;
  height: max-content;
  text-align: center;
  font-size: 100px;
  font-weight: 800;
  line-height: 300px;
  color: #ffffff;
  position: absolute;
  z-index: 1;
  background-color: transparent;
  text-shadow: 5px 5px 10px #000;
}
.slide_image_footer {
  width: 100%;
  height: 300px;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  object-fit: cover;
  opacity: 0.4;
}

/*responsive*/
@media (max-width: 750px) {
  /*slide*/
  .App
  {
    width: 100%;
  }
  .slide
  {
    height: 200px;
    min-height:200px;
  }
.slide_image 
  {
    width: 100%;
    height: 200px;
  }
  /*navigator*/
  .nav
  {
    flex-wrap: wrap;
  }
  .nav .NAME
  {
    width: 100%;
    font-size: 25px;
    position: absolute;
  }
  .nav .menu
  {
    width: 150px;
    margin-top: 50px;
    margin-left: 10px;
    position: absolute;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
  }
  .menu.hidden {
    display: none;
  }
  
  /* Styles for the visible menu */
  .menu.visible {
    display: block;
    /* ... other styles ... */
  }
  #menu
  {
    border: solid 2px rgba(255, 183, 0, 0.932);
    background-color:#282c34;
  }
  #bardevice
  {
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: transparent;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    margin: 5px;
    z-index: 1;
    border: none;
  }
  #bardevice i
  {
    background-color: transparent;
  }

  .search
  {
    position: absolute;
    right: 0;
    margin-top: 12px;
  }
  .input_search
  {
    position: absolute;
    right: 0;
    margin-top: 65px;
  }
  .input_search.input_hidden
  {
    display: none;
  }
  .input_search.input_visible
  {
    display: block;
  }

  .search .btn_search
  {
    background-color: #ffffff;
    color: #000;
  }
  /*list film*/
  .list_film
  {
    margin-top: -50px;
    margin-left: 148px;
    width: 150px;
    z-index: 1;
  }
  .list_film #listfilm
  {
    z-index: 1;
  }
  /*block*/
  .block
  {
    padding: 5px;
    margin: 20px 5px;    
  }
  .heading .caption
  {
    font-size: 25px;
  }
  .heading .see-more
  {
    font-size: 16px;
  }
  .block .list_phim_content .itemsmall
  {
    width: 45%;
    height: 90px;
    margin: 0 5px 5px 0;
  }
  .block .list_phim_content .itemsmall img
  {
    width: 100%;
    height: 90px;
  }
  .block .list_phim_content .itemsmall i
  {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .block .list_phim_content .itemsmall p
  {
    height: 25px;
    line-height: 25px;
  }

  /*footer*/
  .Footer .namefooter
  {
    font-size: 2em;
    line-height: 200px;
  }
  .slide_image_footer {
    height: 200px;
  }


}